body{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 8rem 5fr;
    max-width: 100vw;

}

h2{
    text-align: center;
    padding-bottom: 5vh;
}

.head{
    grid-column:span 2;
    text-align: center;
    border-bottom:3px solid black ;
}

.side-form-con{
    border-right:3px solid black  ;
    height: 80vh;
    text-align: center;
    max-width: 30 %;
    
}

.submit-btn {
    width: 70%;
    background-color: rgba(128, 128, 128, 0.507);
    border:1px solid black ;
}

.form-option {
    padding-bottom: 2vh;
}


.records{
display: flex;
flex-wrap: wrap;
padding: 5vh;
max-width: 70vw;

}
.img {
    width: 10%;
    height: 10%;
    padding: 10px;
}

.img-big{
    height: 100%;
    width: 100%;
    grid-row: 1 / 4 ;
    
}

.top-right{
position: absolute;
top: 1px;
right: 1px;
}

.bottom-right{
    position: absolute;
    bottom: 1px;
    right: 1px;
    }


.album-box{
    width: 40%;
    height: 8rem;

    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr;

    padding: 5px;
    border: 3px solid black;
    margin: 2vw;
}

.box-text {
    text-align: center;
    margin: 0;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

